* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #101010;
  font-family: EB Garamond;
}

html {
  font-size: 62.5%; /* 10/16 = 62.5%, 1rem = 10px */
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 45% 55%;
  padding: 2rem;
}

.description {
  display: grid;
  align-self: center;
  font-size: 1.5rem;
}

.large-font {
  font-size: 5rem;
}

.name {
  color: #006400;
  /* color: #2e8b57; */
  font-size: 5rem;
}

a {
  color: blue;
}

.title {
  display: block;
  font-size: 2.5rem;
  color: #006400;
  /* color: #2E8B57; */
}

.left {
  display: grid;
  grid-area: left;
  grid-template-rows: 25% 28% 47%;
  padding: 0 2rem 2rem 2rem;
}
.right {
  grid-area: right;
  padding: 0 2rem 2rem 2rem;
  border-left-style: solid;
  border-image:
  linear-gradient(
    white,
    #D3D3D3,
    white
  ) 1 100%;
}

dl:nth-last-child(1) {
  padding-bottom: 2rem;
}

li {
  list-style-type: none;
}

.section-name {
  color: #006400;
  /* color: #2e8b57; */
  font-size: 3rem;
  line-height: 4rem;

}

.section-name:after {
  content: "";
  display: block;
  background-image: linear-gradient(to right, #D3D3D3, white);
  height:2px;
  width: 100%;
}

ul, dl {
  padding-top: 1rem;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

dt {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.normal {
  font-weight: normal;
}

.container {
  height: 11in;
  width: 8.5in;
  display: grid;
  grid-template-columns: 32% 34% 34%;
  grid-template-rows: 13% 80% 7%;
  grid-template-areas:
   "header header header"
   "left right right"
   "footer footer footer";
}
